---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import ProductFeatures from '../components/ProductFeatures.astro';
import Applications from '../components/Applications.astro';
import Contact from '../components/Contact.astro';
// Importa más componentes a medida que los crees (ProblemSolution, HowItWorks, Testimonials)
---

<Layout title="Zebra Artificial Vision: See Beyond Limits" description="Descubre las soluciones de visión artificial de Zebra para automatizar inspecciones y mejorar la productividad.">
	<Header />
	<main>
		<Hero />
		<ProductFeatures />
		<Applications />
		<Contact />
	</main>
	</Layout>