---
import { Image } from 'astro:assets';
import productCam1 from '../assets/diagram.png'; // Reemplaza con tus imágenes de producto
import productCam2 from '../assets/camera_image.jpg';
import factoryScene from '../assets/profinet.png';

const features = [
	{
		title: "Desarrollo basado en diagramas de flujos",
		description: "Cree rápidamente aplicaciones de visión artificial utilizando pasos de diagrama de flujo intuitivos sin necesidad de escribir código tradicional. El software permite la creación sencilla de interfaces de operador personalizadas basadas en la web.",
		image: productCam1,
	},
	{
		title: "Opciones de implementación flexibles",
		description: "Aproveche un entorno independiente del hardware que admite diversas plataformas de hardware de Zebra y de terceros para configuraciones de visión artificial versátiles.",
		image: productCam2,
	},
	{
		title: "Comunicación optimizada",
		description: "Conéctese y comuníquese fácilmente con sistemas de automatización y empresariales utilizando E/S discretas y una variedad de protocolos de comunicación compatibles para una integración eficiente de la visión artificial.",
		image: factoryScene,
	},
];
---

<section id="products" class="py-16 lg:py-24 bg-[#8bb303]">
	<div class="container mx-auto px-4 text-center">
		<h2 class="text-4xl font-bold text-white mb-12">Software de visión artificial</h2>
		<div class="grid md:grid-cols-2 lg:grid-cols-3 gap-8">
			{features.map((feature, index) => (
				<div class="bg-gray-800 rounded-lg shadow-xl p-6 flex flex-col items-center transform transition-all duration-300 hover:scale-105 hover:shadow-2xl">
					<div class="w-full h-48 mb-6 relative">
						<Image
							src={feature.image}
							alt={feature.title}
							class="object-contain w-full h-full rounded-md"
							widths={[300, 600]}
							sizes="(max-width: 768px) 100vw, 33vw"
						/>
					</div>
					<h3 class="text-2xl font-semibold text-white mb-3">{feature.title}</h3>
					<p class="text-gray-300">{feature.description}</p>
				</div>
			))}
		</div>
	</div>
</section>